<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwmd.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.example.wwmd.model.Permission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="per_code" jdbcType="VARCHAR" property="perCode" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="parent_ids" jdbcType="VARCHAR" property="parentIds" />
    <result column="sorted" jdbcType="VARCHAR" property="sorted" />
    <result column="available" jdbcType="CHAR" property="available" />
  </resultMap>

    <select id="findUserPermissions" resultMap="menu">
  	select p.* from t_role r
        left join user_role ur on(r.role_id = ur.role_id)
        left join user u on(u.user_id = ur.user_id)
        left join role_permission rp on(rp.role_id = r.role_id)
        left join permission p on(p.id = rp.permission_id )
        where u.user_id = #{userId} and p.per_code is not null and p.per_code &lt;&gt; ''
  </select>

</mapper>